<footer>

<div class="container">

<div class="row">

<div class="col-lg-6">

<h3>Md. Asaduzzaman Sarker</h3>

<p>
Assistant Professor<br>
Department of Electrical and Electronic Engineering<br>
European University of Bangladesh
</p>

</div>

<div class="col-lg-3">

<h5>Quick Links</h5>

<ul class="footer-links">

<li><a href="#about">About</a></li>

<li><a href="#research">Research</a></li>

<li><a href="#publications">Publications</a></li>

<li><a href="#contact">Contact</a></li>

</ul>

</div>

<div class="col-lg-3">

<h5>Connect</h5>

<div class="footer-social">

<a href="https://scholar.google.com/citations?user=CTiYwF0AAAAJ&hl=en&oi=ao" target="_blank"><i class="fab fa-graduation-cap"></i></a>

<a href="https://bd.linkedin.com/in/asaduzzaman-shamim" target="_blank"><i class="fab fa-linkedin"></i></a>

<a href="https://www.researchgate.net/profile/Md-Sarker-93" target="_blank"><i class="fab fa-researchgate"></i></a>

<a href="https://orcid.org/0009-0009-0811-0291" target="_blank"><i class="fab fa-orcid"></i></a>

</div>

</div>

</div>

<hr>

<div class="text-center">

© 2026 Md. Asaduzzaman Sarker. All Rights Reserved.

</div>

</div>

</footer>